.posts-container {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.post {
  border: 4px solid orange;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  margin: 1% 2% 0 2%;
}

.post-text {
    padding: 1% 0 0 1%;
}