.post-card {
    border: 4px solid purple;
    width: 20%;
    height: 250px;
    margin: 1% 1% 1% 2%;
}

@media (max-width: 480px) {
    .post-card {
        width: 80%;
        margin: auto;
        margin-top: 4%
    }
}