.container {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 2%;
}

.comment-section {
    border: 1px solid red;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 1%;
}

.sidebar-container {
    display: flex;
    justify-content: center;
    width: 20%;
    border: 4px solid;
    margin-left: 2%;
}