.sidebar {
    border: 4px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin: 1% 0 0 2%;
}

.logout-button {
    height: 50px;
    width: 50%;
    margin-top: 3%;
}

.search-bar {
    margin: 5% 0;
}

.link {
    margin: 5% 0;
}

@media (max-width: 480px) {
    .sidebar {
        width: 95%;
    }
}